@using System.Globalization

@if (Peliculas is null)
{
	<div class="text-center">
		<span style="color:red">Cargando .......</span>
	</div>
}
else if (Peliculas.Count == 0)
{
	<div class="alert alert-danger">
		<p>No hay peliculas para mostrar.</p>
	</div>
}
else
{
	<div class="row mt-5">
		@foreach (var peli in Peliculas)
		{
			<PeliculaIndividual Pelicula="peli" />
		}
	</div>

}




@code {
	[Parameter]
	[EditorRequired]
	public List<Pelicula>? Peliculas { get; set; }

}
