<div class="col-2">
	<div class="card mt-4">
		<div class="card-header d-flex justify-content-between align-items-center">
			<h3 class="mb-0">Pelicula</h3>
			@if (DateTime.Today.Subtract(Pelicula.FechaLanzamiento).Days <= 14)
			{
				<span style="color:red;">(NUEVO!)</span>
			}
		</div>

		<div class="card-body">
			<p>Título:<strong>@Pelicula.Titulo</strong> </p>
			<p>Fecha lanzamiento:<strong>@Pelicula.FechaLanzamiento.ToString("dd MMM yyyy")</strong> </p>
		</div>
		@if (MostrarBotones)
		{
			<div class="card-footer">
				@* de esta manera pasmos por parametro un evento *@
				<button class="btn btn-danger" @onclick="@(()=> EliminarPelicula.InvokeAsync(Pelicula))"> Borrar</button>
			</div>
		}
	</div>
</div>

@code{
	[Parameter]
	[EditorRequired]
	public Pelicula Pelicula { get; set; }

	[Parameter]
	public bool MostrarBotones { get; set; } = false;

	[Parameter]
	public EventCallback<Pelicula> EliminarPelicula { get; set; }

	void Eliminar()
	{
		Console.WriteLine($"Eliminar la pelicula;  {Pelicula.Titulo}");
	}
}