<h3>BindAfterDemos</h3>


<input type="text" @bind="busqueda" @bind:after="Buscar" />

<p>Personas encontradas</p>

<ul>
	@foreach(var persona in personasEncontradas)
	{
		<li>@persona</li>
	}
</ul>

@code {
	private string busqueda = string.Empty;
	private List<string> personasEncontradas = new List<string>();

	private async Task Buscar()
	{
		var personas = new List<string>
		{
			"juan pablo",
			"paul neder",
			"paul mario",
			"lionel",
			"jose"
		};

		await Task.Delay(1000);

		// ACA ESTAMOS REALIZANDO LA BUSQUEDA EN UNA LISTA DE PERSONAS, ESTA BUSQUEDA ES EL VALOR IMPLANTADO EN EL INPUT
		personasEncontradas = personas.Where(personas => personas.Contains(busqueda)).ToList();
	}


}
