@page "/"
@inject IRepositorio repositorio

@* definir el titulo de los componenes con PageTitle *@
<PageTitle>Blazor Películas</PageTitle>

@* me permite agregar en en inde.html en el head de esta manera *@
<HeadContent>
	<meta name="description" content="Página para visualizar películas"/>
</HeadContent>




<div>
	<h1 class="text-center" style="color:blue"> Peliculas</h1>
	<div>
		<ListadoPeliculas Peliculas="Peliculas" />
	</div>
</div>



@* <div class="border border-1 mt-5">
	<h3>Crear una película: </h3> *@
	@* ejemplo de parametros arbitriarios *@
	@* <EjemploTextbox  placeholder="Nombre pelicula"/> *@
	@* <EjemploTextbox @attributes="@(new Dictionary<string, object>(){{"placeholder", "nuevo"}, {"disabled", "true"}})" /> *@
@* 	<EjemploTextbox @attributes="@(new Dictionary<string, object>(){{"placeholder", "nuevo"}, {"disabled", "true"}})" />

</div> *@

<button class="mt-5 btn btn-success" @onclick="AgregarPelicula">Agregar Pelicula</button>

@code {

	public List<Pelicula> Peliculas { get; set; }

	protected override void OnInitialized()
	{
		Peliculas = repositorio.ObtenerPeliculas();
	}

	private void AgregarPelicula()
	{
		Peliculas.Add(new Pelicula { Titulo = "Superman", FechaLanzamiento = DateTime.Today });
	}

}